<mat-card class="accueil-card">
  <mat-card-header>
    <mat-card-title>{{ 'WELCOME' | translate }}</mat-card-title>

    <!-- Boutons de changement de langue -->
    <div class="lang-buttons">
      <button class="lang-button" (click)="changeLanguage('fr')">🇫🇷 Français</button>
      <button class="lang-button" (click)="changeLanguage('en')">🇬🇧 English</button>
    </div>
  </mat-card-header>
  
  <mat-card-content>
    <div class="attraction-title">
      <span>{{ 'ATTRACTION.NAME' | translate }}</span>
      <span>{{ 'ATTRACTION.DESCRIPTION' | translate }}</span>
      <span>{{ 'ATTRACTION.DIFFICULTY' | translate }}</span>
      <span>{{ 'ATTRACTION.ACTIONS' | translate }}</span>
    </div>
    <ng-container *ngFor="let attraction of attractions | async">
      <div class="attraction">
        <span>{{ attraction.nom }}</span>
        <span>{{ attraction.description }}</span>
        <span class="difficulte">⭐ {{ attraction.difficulte }} / 5</span>

        <div class="buttons">
          <button class="mettre-avis" (click)="ajouterAvis(attraction.nom)">
            <mat-icon>edit</mat-icon> {{ 'ATTRACTION.ADD_REVIEW' | translate }}
          </button>
          <button class="voir-avis" (click)="attraction.attraction_id !== null ? voirAvis(attraction.attraction_id) : null">
            <mat-icon>visibility</mat-icon> {{ 'ATTRACTION.VIEW_REVIEWS' | translate }}
          </button>
        </div>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
